BasedOnStyle: Google

AccessModifierOffset: 0  # Ensures 'private:' and 'public:' are not indented

SortIncludes: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

IncludeBlocks: Preserve

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true

SpacesInParentheses: false
SpaceAfterCStyleCast: true
